body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    margin: auto;
    padding: 0;
}

header {

    background-color: azure;
    color: black;
    text-align: center;
    padding: 20px;
}

section {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {

    color: black;
}

p {
    line-height: 1.5;
}

/* Flex container*/
.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;

}

@media (max-width:700px) {
    .container {
        flex-direction: column;
        align-items: center;

    }
}

.about {
    writing-mode: horizontal-tb;
}

nav ul li {
    margin-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}