body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    margin: auto;
    padding: 0;
}

header {

    background-color: azure;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {

    color: black;
}

p {
    line-height: 1.5;
}