nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a.active {
    color: #00ffd5;
    font-weight: bold;
    border-bottom: 2px solid #00ffd5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #ccc;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00ffd5;
}

nav a.active {
    color: #00ffd5;
    border-bottom: 2px solid #00ffd5;
}

main {
    padding: 50px;
    text-align: center;
}

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about ul {
    list-style-position: inside;
}

/* bullets move inside the container */
/* text-align: center;          center the text and bullets
  padding-left: 0;             remove default padding 
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    margin: auto;
    padding: 0;
}*/